*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body {
    height: 100%;
}


.topo{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
}

.search{
    width: 50%;
}



.search form input {
    width: 100%;
    
}

.search form .inline {
    display: flex;
}   

.login {
   display: flex;
    align-items: center;
    
}

.login .icon-user{
    margin: 0 5px;
}


/****************************************************************************************************/

.nav-bar {
    margin: 25px 0;
   text-align: center;
}

.nav-bar ul{
    list-style: none;
    
}

.nav-bar ul li {
    display: inline-block;
    padding: 0 35px;
}







