@media screen and (max-width: 520px){


    .topo{
        padding: 5px 2%;
        display: flex;
        align-items: center;
    }
    
    .topo .logo{
        margin-top: 5px;
        margin-right: 90px;
    }

    .search{
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        display: none;
    }

 
  

    #btn-search{
        
        display: block;
        float: left;
        cursor: pointer;
        
    }

    .icon-user i{
        margin: 0 5px;
    }


    .nav-bar{
        display: none;
    }

    .nav-bar ul li {
        display: block;
    }


    .icons-menu{
        display: block;
    }

    .banner{
        width: 100%;
        height: auto;
    }

    .swiper .swiper-button-next{
        display: none;
    }

    .swiper .swiper-button-prev{
        display: none;
    }

    /**************************************************/

    .session-one{
        padding: 80px 0;
    }

    .session-one .flex{
        display: flex;
        flex-direction: column;
    }

    .session-one .card-content{
        width: 100%;
        margin-top: 10px;
    }

    

} 